Package: com.harpy.navrelay
Name: NavRelay
Version: 1.2.0
Architecture: iphoneos-arm
Description: Relays turn-by-turn navigation from Apple Maps/Google Maps/Yandex to HARPY Remote (ESP32) via BLE.
Maintainer: HARPY
Author: HARPY
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
